@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

#page-content a {
    font-family: 'Roboto Condensed';
}

h1 {
    font-family: 'Roboto Condensed';
}

h2 {
    font-family: 'Roboto Condensed';
}

h3 {
    font-family: 'Roboto Condensed';
}

body {
    font-family: 'Roboto Condensed';
}

ul {
    list-style-type: square;
    list-style-position: inside;
    margin-bottom: 20px;
}

ul li {
    padding-bottom: 5px;
}

.LangToggle {
    position: absolute;
    top: 15px;
    right: 30px;
}

.LangToggle .active {
    color: red
}

/* Slider */

.Slider {
    position: relative;
    top: -80px;
    width: 100%;
    height: 580px;
    overflow: hidden;
    margin-bottom: -40px;
}

.Slider img {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    min-height: 100%;
    width: 100%;
    height: auto;

    /*transform: matrix(1.1, 0, 0, 1.1, -68.3, -121.55);*/
}

.Slider__wrapper {
    position: relative;
    max-width: 980px;
    margin: auto;
}

.Slider__text {
    position: absolute;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    letter-spacing: 1px;
}

.Slider__text--first {
    top: 100px;
    left: 30px;
}

.Slider__text--second {
    top: 145px;
    left: 30px;
}

.Slider__text--third {
    top: 190px;
    left: 30px;
}

/* TextBlock */

.TextBlock p {
    text-indent: 20px;
    margin-bottom: 15px;
    text-align: justify;
}

/* Title */

.tp-title.style2 {
    margin-top: 30px;
}

.tp-title.style2 h1 {
    text-transform: uppercase;
}

/* Advantage */

.Advantage {
    text-align: center;
}

.Advantage p {
    margin-bottom: 20px;
}

.Advantage h3 {
    text-transform: uppercase;
}

/* QuestionsBlock */

.tp-cta.style2 {
    padding: 3px;
    border: 1px solid #e2e2e2;
    float: left;
}

.tp-cta.style2 .inner {
    background-image: url(./images/slider-pattern.png);
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.tp-cta.style2 .text {
    /*width: 55%;*/
    width: calc(60% - 60px);
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.tp-cta.style2 h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content .button, .button {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-family: 'Oswald', arial;
    font-weight: normal;
    font-weight: 400;
    line-height: 42px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    background-color: red;
    border: 0px;
    position: relative;
    width: auto;
    white-space: nowrap;
    letter-spacing: 1px;
    opacity: 0.8;
}

.tp-cta.style2 .button {
    text-transform: uppercase;
    margin-top: -21px;
    top: 50%;
    right: 40px;
    position: absolute;
    color: fff;
    letter-spacing: 1px;
    font-weight: normal;
}

.tp-vl-imageblock {
    text-align: center;
}

/* Testimonials */

.tp-testemonial {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

.tp-testemonial .client {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
    float: left;
    margin-right: 15px;
    border: 1px solid #e2e2e2;
    padding: 3px;
    overflow: hidden;
    border-radius: 50%;
    width: 112px;
    height: 112px;
}

.col:first-child .tp-testemonial .client {
    background-image: url('./images/testimonials/testimonial-taneko.jpg')
}

.col:last-child .tp-testemonial .client {
    background-image: url('./images/testimonials/testimonial-tnk.png')
}

.tp-testemonial .text {
    background-image: url(./images/quote.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 10px;
    overflow: hidden;
}

/* BusinessLine */

.BusinessLine h1 {
    text-transform: uppercase;
}

.BusinessLine span {
    color: #999;
}

.BusinessLine img {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.BusinessLine .tp-vl-textblock {
    text-align: center;
}

.BusinessLine p {
    text-align: justify;
}

/* Menu */

.header .menu .sub-menu.open {
    display: block;
}

ul.menu,
.menu li {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

/*
Theme Name:     Princess - Child Theme
Theme URI:      http://themeprince.com/themes/princess
Description:    Child theme for the Princess theme
Author:         ThemePrince
Author URI:     http://themeprince.com/
Template:       princess
Version:        1.0
*/

/*@import url("../princess/style.css");*/

/* Common Text */
h3 {
    margin-bottom: 20px;
}

body {
    font-size: 16px;
}

/* Logo and Menu */

.header .logo img {
    width: 195px;
}

.header .logo {
    margin-top: 13px;
}

.header #menu-left,
.header #menu-right {
    margin-top: 53px;
}

.header #menu-left li a,
.header #menu-right li a,
.header #menu-main li a {
    text-transform: uppercase;
    font-size: 16px;
    color: #444;
}

.header #menu-left > li > a,
.header #menu-right > li > a {
    font-size: 18px;
}

.header #menu-right li a:hover,
.header #menu-left li a:hover {
    color: red;
}

/* Header - Short */

.header {
    background-image: url('./images/header-bg.png');
    height: 150px;
    margin-bottom: 15px;
}

.header .bg {
    background-image: url('./images/header.png');
    height: 165px;
}

#header-shadow {
    top: 90px;
}

/* Menu Width */

.header .menu .sub-menu {
    width: 255px;
}

.header #menu-left .sub-menu li {
    width: 253px;
}

/* Margin - title */

.tp-title.page-title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

#page-content {
    margin-bottom: 50px;
    margin-top: 0;
}

.frame {
    background: #f4f4f4;
    padding: 3px;
    border: 4px solid #bbbbbb;
    border-radius: 4px;

}

/* Tables */

table tbody tr {
    border-bottom: none;
}

table tbody tr:hover {
    background-color: white;
}

/* Link color */

a.email {
    color: #428bca;
}

/* Footer */

#footer-menu li a {
    text-transform: uppercase;
}

footer .wrapper .logo img {
    height: 80px;
}

/* Mobile Menu */

#respo-menu-list-left .sub-menu li a, #respo-menu-list-right .sub-menu li a {
    text-transform: uppercase;
}

.revslider-wrap {
    top: -130px;
}

.tp-cta {
    width: 95%;
}

.page-template-default #page-content {
    min-height: calc(100vh - 325px);
}

#respo-menu-holder {
    display: none;
}

/* Images in articles */

.content .width-20 {
    width: 20%;
}

.content .width-25 {
    width: 25%;
}

.content .width-33 {
    width: 33%;
}